Use in PKCS#10, CMP, OCSP?

From John Mattsson: "For 5G use cases, I would strongly like the document to also cover use of SLH-DSA in RFC 2986 (PKCS #10), RFC 4210 (CMP), and RFC 6090 (OCSP)."